*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.navbar-nav
{
    margin-left: auto;
}

#navbar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
  background-image: linear-gradient(to right,#a517ba,#5f1782);
  padding: 0 !important;
}

.navbar-brand img
{
    height: 50px;
    padding-left: 10px;
}

.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars
{
    color: white;
    
}

.navbar-toggler
{
    outline: none !important;
}

/* --------------------------------banner section---------------------------------------------- */

#banner
{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    color:#fff  ;
    padding-top: 5%;
 
    
}

.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.play-bold img{
    width: 80px;
    background-color: transparent;
}




.image-bottom
{
    width: 100%;
}


/* -----------------------------------------services section------------------------------------------------ */

#services
{
    padding: 80px 0px;
    display: flex;

   
}


.service1-img{
    width: 100px;
    margin-top: 20px;

}

.services
{
    padding: 20px;
    
   }


.services h4{
    text-transform: uppercase;
    margin-top: 25px;
    padding: 5px;
}

.row
{   display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
}

.title::before{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translatey(63px);

}

.title::after{
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translatey(8px);

}

#services .btn-primary
{
    box-shadow: none;
    margin-top: 20px;
    padding: 8px 25px;
    border: none;
    background: linear-gradient(to right,#a517ba,#5f1782);
    border-radius: 20px;
}

/* -----------------------------------------------about-us----------------------------------------------- */




#about-us
{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;

}

#about-us ul li{
    margin: 10px 0px;
}

#about-us ul
{
    margin-left: 20px;
}

/* -----------------------------testimonials------------------------------------------------- */

#testimonials
{
    margin:100px 0;

}

.testimonials
{
    
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}



.testimonials img
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}


.user-details
{
    display: inline-block;
    font-size: 12px;
}

/* ------------------------------------------------socail media----------------------------------------------- */

#social-media
{
    background: #f8f9fa;
    padding: 100px 0;
    height: 300px;
}

#social-media p{
    font-size: 36px;
    font-weight:600 ;
    margin-bottom: 30px;
}

.social-icons img{
    width: 60px;
    transition: 0.5s;
}

.social-icons a:hover img {
    transform: translateY(-10px)
};

/* ---------------------------------------------------footer section------------------------------------------- */


#footer
{

background-image: linear-gradient(to right, #a517ab, #5f1782);
color:#fff;


}

.footer-img
{
    width: 100%;
}
